@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(213, 26%, 93%);
    --foreground: hsl(210, 22%, 9%);

    --muted: hsl(212, 25%, 20%);
    --muted-foreground: hsl(209, 22%, 70%);

    --popover: hsl(213, 26%, 93%);
    --popover-foreground: hsl(210, 22%, 9%);

    --border: hsl(212, 25%, 20%);
    --input: hsl(212, 25%, 20%);

    --card: hsl(213, 26%, 93%);
    --card-foreground: hsl(210, 22%, 9%);

    --primary: hsl(211, 33%, 30%);
    --primary-foreground: hsl(213, 26%, 93%);

    --secondary: hsl(210, 40%, 68%);
    --secondary-foreground: hsl(210, 22%, 9%);

    --accent: hsl(210, 46%, 45%);
    --accent-foreground: hsl(213, 26%, 93%);

    --destructive: hsl(0, 85%, 60%);
    --destructive-foreground: hsl(210, 22%, 9%);

    --ring: hsl(210, 46%, 40%);

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(210, 26%, 7%);
    --foreground: hsl(210, 21%, 91%);

    --muted: hsl(210, 25%, 80%);
    --muted-foreground: hsl(210, 21%, 91%);

    --accent: hsl(210, 46%, 55%);
    --accent-foreground: hsl(210, 26%, 7%);

    --popover: hsl(210, 26%, 7%);
    --popover-foreground: hsl(210, 21%, 91%);

    --border: hsl(210, 26%, 20%);
    --input: hsl(210, 25%, 50%);

    --card: hsl(210, 26%, 7%);
    --card-foreground: hsl(210, 21%, 91%);

    --primary: hsl(210, 33%, 70%);
    --primary-foreground: hsl(210, 26%, 7%);

    --secondary: hsl(210, 40%, 32%);
    --secondary-foreground: hsl(210, 21%, 91%);

    --destructive: hsl(0, 62%, 30%);
    --destructive-foreground: hsl(213, 22%, 10%);

    --ring: hsl(210, 46%, 60%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
