@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 318 87% 97%;
    --foreground: 315 87% 9%;
    --card: 318 87% 97%;
    --card-foreground: 315 87% 9%;
    --popover: 318 87% 97%;
    --popover-foreground: 315 87% 9%;
    --primary: 312 87% 27%;
    --primary-foreground: 318 87% 97%;
    --secondary: 347 87% 67%;
    --secondary-foreground: 315 87% 9%;
    --muted: 318 86% 20%;
    --muted-foreground: 315 87% 70%;
    --accent: 354 87% 47%;
    --accent-foreground: 318 87% 97%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 315 87% 9%;
    --border: 318 86% 20%;
    --input: 318 86% 20%;
    --ring: 354 87% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 316 85% 3%;
    --foreground: 315 87% 91%;
    --card: 316 85% 3%;
    --card-foreground: 315 87% 91%;
    --popover: 316 85% 3%;
    --popover-foreground: 315 87% 91%;
    --primary: 312 87% 73%;
    --primary-foreground: 316 85% 3%;
    --secondary: 347 87% 33%;
    --secondary-foreground: 315 87% 91%;
    --muted: 316 84% 80%;
    --muted-foreground: 315 87% 91%;
    --accent: 354 87% 53%;
    --accent-foreground: 316 85% 3%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 315 88% 10%;
    --border: 316 85% 60%;
    --input: 316 84% 80%;
    --ring: 354 87% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
