@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(232 95% 92%);
    --foreground: hsl(233 94% 7%);
    --card: hsl(232 95% 92%);
    --card-foreground: hsl(233 94% 7%);
    --popover: hsl(232 95% 92%);
    --popover-foreground: hsl(233 94% 7%);
    --primary: hsl(232 97% 27%);
    --primary-foreground: hsl(232 95% 92%);
    --secondary: hsl(322 97% 69%);
    --secondary-foreground: hsl(233 94% 7%);
    --muted: hsl(233 94% 20%);
    --muted-foreground: hsl(233 93% 70%);
    --accent: hsl(352 97% 41%);
    --accent-foreground: hsl(232 95% 92%);
    --destructive: hsl(0 85% 60%);
    --destructive-foreground: hsl(233 94% 7%);
    --border: hsl(233 94% 20%);
    --input: hsl(233 94% 20%);
    --ring: hsl(352 97% 40%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(232 95% 8%);
    --foreground: hsl(232 95% 93%);
    --card: hsl(232 95% 8%);
    --card-foreground: hsl(232 95% 93%);
    --popover: hsl(232 95% 8%);
    --popover-foreground: hsl(232 95% 93%);
    --primary: hsl(232 97% 73%);
    --primary-foreground: hsl(232 95% 8%);
    --secondary: hsl(322 97% 31%);
    --secondary-foreground: hsl(232 95% 93%);
    --muted: hsl(233 94% 80%);
    --muted-foreground: hsl(232 95% 93%);
    --accent: hsl(352 97% 59%);
    --accent-foreground: hsl(232 95% 8%);
    --destructive: hsl(0 62% 30%);
    --destructive-foreground: hsl(231 96% 10%);
    --border: hsl(230, 39%, 25%);
    --input: hsl(233 94% 80%);
    --ring: hsl(352 97% 60%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
